body {
  font-size: 16px;
  color: #000000;
  background-color: #FFC300;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #F08080;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
h2 {
  text-align: center;
  font-family: arial,helvetica,sansserif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
}
#Chicken-tile, #Beef-tile, #Sushi-tile {
  height: 1000px;
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: #808080;
  box-shadow: 0 1px 5px 1px #cccccc;
}






#Chicken-tile span, #Beef-tile span, #Sushi-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #808080;
  color: #fff;
  opacity: .8;
}
#Chicken-tile p, #Beef-tile p, #Sushi-tile p{
 position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
   font-weight: bold;
  text-transform: lowercase;
  background-color: #808080;
  color: #000000;
  opacity: .8;
} 

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    background-color: #fff;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }